<div><h1>Hello </h1>
    
    
<p>{{message}}</p>
<p>{{orders}}</p>
 <p>{{orders.city_name}}</p>   
       <img ng-src="{{ orders.days[1].icon }}">
     
     </div>

   <div ng-repeat="order in orders.days">
              <div>
                <div>
                  <p>{{ order.datetime | date }}</p>
                </div>
                <div>
                  <img ng-src="{{ order.icon }}">
                </div>
                <div>
                </div>
                <div>
                  <p>{{ order.high }}&deg;</p>
                </div>
                <div>
                  <p>{{ order.low }}&deg;</p>
                </div>
              </div>
       
       
       
      
     </div>

 <div ng-repeat="order in orders.days" style="background: #F1f1f1"> 
	 <div flex-xs flex-gt-xs="50" layout="column">
	<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
		<md-card-title>
		  <md-card-title-text>
			<span class="md-headline">{{ product.name }}</span>
			 <md-icon md-svg-src="img/icons/cake.svg"></md-icon>
              <p>{{ order.datetime | date }}</p>
		  </md-card-title-text>
		  <md-card-title-media>
			<div class="md-media-lg card-media"></div>
		  </md-card-title-media>
		</md-card-title>
		<md-card-actions layout="row" layout-align="end center">
		  <md-button>Action 1</md-button>
		  <md-button>Action 2</md-button>
		</md-card-actions>
	  </md-card>
	  </div>
    </div>


