<div><h1>Worker </h1>
<p>{{message}}</p></div>

 <div ng-repeat="product in products" style="background: #F1f1f1"> 
	 <div flex-xs flex-gt-xs="50" layout="column">
	<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
		<md-card-title>
		  <md-card-title-text>
			<span class="md-headline">{{ product.name }}</span>
			 <md-icon md-svg-src="img/icons/cake.svg"></md-icon>
		  </md-card-title-text>
		  <md-card-title-media>
			<div class="md-media-lg card-media"></div>
		  </md-card-title-media>
		</md-card-title>
		<md-card-actions layout="row" layout-align="end center">
		  <md-button>Action 1</md-button>
		  <md-button>Action 2</md-button>
		</md-card-actions>
	  </md-card>
	  </div>
    </div>
